In [1]:
# Importante Required Libraries
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
import numpy as np

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
# Read The Dataset
data = pd.read_csv('loan_data.csv')
print(data.head())

    Loan_ID Gender Married Dependents     Education Self_Employed  \
0  LP001002   Male      No          0      Graduate            No
1  LP001003   Male     Yes          1      Graduate            No
2  LP001005   Male     Yes          0      Graduate           Yes
3  LP001006   Male     Yes          0  Not Graduate            No
4  LP001008   Male      No          0      Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849                0.0         NaN             360.0
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0

   Credit_History Property_Area Loan_Status
0             1.0         Urban           Y
1             1.0         Rural           N
2             1.0         Urban           Y
3             1.0         Urban           Y
4             1.0         Urban           Y

In [4]:
print('Column Names :\n', data.columns)

Column Names :
 Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [5]:
#Label Encode The Target Variable
encode = LabelEncoder()
data.Loan_Status = encode.fit_transform(data.Loan_Status)

In [6]:
print(data.head())

    Loan_ID Gender Married Dependents     Education Self_Employed  \
0  LP001002   Male      No          0      Graduate            No
1  LP001003   Male     Yes          1      Graduate            No
2  LP001005   Male     Yes          0      Graduate           Yes
3  LP001006   Male     Yes          0  Not Graduate            No
4  LP001008   Male      No          0      Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849                0.0         NaN             360.0
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0

   Credit_History Property_Area  Loan_Status
0             1.0         Urban            1
1             1.0         Rural            0
2             1.0         Urban            1
3             1.0         Urban            1
4             1.0         Urban            1

In [7]:
print('Shape of data before dropping the rows that have null values :''\n', data.shape)

Shape of data before dropping the rows that have null values :
 (614, 13)

In [8]:
#missing data
total = data.isnull().sum().sort_values(ascending=False)
percent = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])

                   Total   Percent
Credit_History        50  0.081433
Self_Employed         32  0.052117
LoanAmount            22  0.035831
Dependents            15  0.024430
Loan_Amount_Term      14  0.022801
Gender                13  0.021173
Married                3  0.004886
Loan_ID                0  0.000000
Education              0  0.000000
ApplicantIncome        0  0.000000
CoapplicantIncome      0  0.000000
Property_Area          0  0.000000
Loan_Status            0  0.000000

In [9]:
# Dropping The Rows That Have Null Values
data.dropna(inplace=True)

In [10]:
print('Shape of data after dropping the rows that have null values :''\n', data.shape)

Shape of data after dropping the rows that have null values :
 (480, 13)

In [11]:
#missing data
total = data.isnull().sum().sort_values(ascending=False)
percent = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])

                   Total  Percent
Loan_ID                0      0.0
Gender                 0      0.0
Married                0      0.0
Dependents             0      0.0
Education              0      0.0
Self_Employed          0      0.0
ApplicantIncome        0      0.0
CoapplicantIncome      0      0.0
LoanAmount             0      0.0
Loan_Amount_Term       0      0.0
Credit_History         0      0.0
Property_Area          0      0.0
Loan_Status            0      0.0

In [12]:
# Train-Test-Split   
train, test = train_test_split(data,test_size=0.3,random_state=0)

In [13]:
# Seperate The dependent variable and Independent variables
train_x = train.drop(columns=['Loan_ID','Loan_Status'])
train_y = train['Loan_Status']
test_x = test.drop(columns=['Loan_ID','Loan_Status'])
test_y = test['Loan_Status']

In [14]:
print('shape of training data : ',train_x.shape)
print('shape of testing data : ',test_x.shape)

shape of training data :  (336, 11)
shape of testing data :  (144, 11)

In [15]:
# Encode The Data
train_x = pd.get_dummies(train_x)
test_x  = pd.get_dummies(test_x)
print('shape of training data : ',train_x.shape)
print('shape of testing data : ',test_x.shape)

shape of training data :  (336, 20)
shape of testing data :  (144, 20)

In [16]:
print(train_x)

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
454             7085                0.0        84.0             360.0
80              3846                0.0       111.0             360.0
206             3244                0.0        80.0             360.0
417             1600            20000.0       239.0             360.0
101             4843             3806.0       151.0             360.0
..               ...                ...         ...               ...
414             2149             3237.0       178.0             360.0
247             6608                0.0       137.0             180.0
152             9166                0.0       244.0             360.0
60              2500             3796.0       120.0             360.0
220             2221                0.0        60.0             360.0

     Credit_History  Gender_Female  Gender_Male  Married_No  Married_Yes  \
454             1.0              0            1           1            0
80              1.0              1            0           1            0
206             1.0              1            0           1            0
417             1.0              0            1           0            1
101             1.0              0            1           1            0
..              ...            ...          ...         ...          ...
414             0.0              1            0           0            1
247             1.0              0            1           0            1
152             1.0              0            1           1            0
60              1.0              0            1           0            1
220             0.0              0            1           0            1

     Dependents_0  Dependents_1  Dependents_2  Dependents_3+  \
454             1             0             0              0
80              1             0             0              0
206             1             0             0              0
417             0             0             1              0
101             1             0             0              0
..            ...           ...           ...            ...
414             1             0             0              0
247             0             1             0              0
152             1             0             0              0
60              1             0             0              0
220             1             0             0              0

     Education_Graduate  Education_Not Graduate  Self_Employed_No  \
454                   1                       0                 0
80                    1                       0                 1
206                   1                       0                 1
417                   1                       0                 0
101                   1                       0                 1
..                  ...                     ...               ...
414                   0                       1                 1
247                   0                       1                 1
152                   1                       0                 1
60                    1                       0                 1
220                   1                       0                 1

     Self_Employed_Yes  Property_Area_Rural  Property_Area_Semiurban  \
454                  1                    0                        1
80                   0                    0                        1
206                  0                    0                        0
417                  1                    0                        0
101                  0                    0                        1
..                 ...                  ...                      ...
414                  0                    0                        1
247                  0                    0                        0
152                  0                    0                        0
60                   0                    0                        0
220                  0                    0                        0

     Property_Area_Urban
454                    0
80                     0
206                    1
417                    1
101                    0
..                   ...
414                    0
247                    1
152                    1
60                     1
220                    1

[336 rows x 20 columns]

In [25]:
train_x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 336 entries, 454 to 220
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ApplicantIncome          336 non-null    int64
 1   CoapplicantIncome        336 non-null    float64
 2   LoanAmount               336 non-null    float64
 3   Loan_Amount_Term         336 non-null    float64
 4   Credit_History           336 non-null    float64
 5   Gender_Female            336 non-null    uint8
 6   Gender_Male              336 non-null    uint8
 7   Married_No               336 non-null    uint8
 8   Married_Yes              336 non-null    uint8
 9   Dependents_0             336 non-null    uint8
 10  Dependents_1             336 non-null    uint8
 11  Dependents_2             336 non-null    uint8
 12  Dependents_3+            336 non-null    uint8
 13  Education_Graduate       336 non-null    uint8
 14  Education_Not Graduate   336 non-null    uint8
 15  Self_Employed_No         336 non-null    uint8
 16  Self_Employed_Yes        336 non-null    uint8
 17  Property_Area_Rural      336 non-null    uint8
 18  Property_Area_Semiurban  336 non-null    uint8
 19  Property_Area_Urban      336 non-null    uint8
dtypes: float64(4), int64(1), uint8(15)
memory usage: 20.7 KB

In [18]:
# Using Logistic Regression Model
LR = LogisticRegression()
LR.fit(train_x,train_y)
predict = LR.predict(test_x)
print('Accuracy Score on test data using Logistic Regression: ', accuracy_score(test_y,predict))

Accuracy Score on test data using Logistic Regression:  0.7569444444444444

In [28]:

res = test_x[test_x["Property_Area_Semiurban"].equals(1)]
pr = res[res["Married_Yes"].equals(1)]
print(pr.shape)
pr = pd.get_dummies(pr)
###############################################
###############################################
LRR = LogisticRegression()
LRR.fit(train_x,train_y)

predictt = LRR.predict(pr)
print('Accuracy Score on test data using Logistic Regression: ', accuracy_score(test_y,predictt))

KeyError: False

In [ ]:
# Confusion Matrix for Logistic Regression  
cm = metrics.confusion_matrix(test_y, predict)
print('Confusion Matrix for Logistic Regression :\n', cm, '\n')
fig, ax = plt.subplots(figsize=(6.5, 6.5))
ax.matshow(cm, cmap=plt.cm.Blues, alpha=0.5)
for i in range(cm.shape[0]):
    for j in range(cm.shape[1]):
        ax.text(x=j, y=i,s=cm[i, j], va='center', ha='center', size='xx-large')
 
plt.xlabel('Predictions', fontsize=18)
plt.ylabel('Actuals', fontsize=18)
plt.title('The Confusion Matrix', fontsize=18)
plt.show()

In [ ]:
# Using SVC Model
svc = SVC(kernel="linear")
svc.fit(train_x,train_y)
predict = svc.predict(test_x)
print('Accuracy Score on test data using SVC: ', accuracy_score(test_y,predict))

In [ ]:
# Using ID3 Model
DT = DecisionTreeClassifier(max_depth=(7), random_state=0)
DT.fit(train_x,train_y)
predict = DT.predict(test_x)
print('Accuracy Score on test data using ID3 : ', accuracy_score(test_y,predict))

In [ ]:
# Using KNN Model
KNN = KNeighborsClassifier(n_neighbors=7)  
KNN.fit(train_x,train_y)
predict = KNN.predict(test_x)
print('Accuracy Score on test data using KNN: ', accuracy_score(test_y,predict))

In [ ]:
# To find a optimum value of K we plot a graph of error rate vs K value ranging from 0 to 40
error_rate = []
for i in range(1,40):
    kNN = KNeighborsClassifier(n_neighbors=i)
    kNN.fit(train_x,train_y)
    predict_i = kNN.predict(test_x)
    error_rate.append(np.mean(predict_i != test_y))
    
plt.figure(figsize=(10,6))
plt.plot(range(1,40),error_rate,color='blue', linestyle='dashed', marker='o',
         markerfacecolor='red', markersize=10)
plt.title('Error Rate vs. K Value', fontsize=18)
plt.xlabel('K', fontsize=18)
plt.ylabel('Error Rate', fontsize=18)
plt.show()